html, body {
    height:100%;
}

body {
    margin:0;
	font-family: Montserrat, sans-serif;
    color:rgba(0, 0, 0, 0.74)
}

header {
    margin:80px 0;
    width:100%;
}

header h1 {
    font-size:53px;
    text-align:center;
}

.page-title {
	transition:color 200ms ease;
}
.page-title:hover {
	color: #6d6d6d;
}
nav {
    margin-top:45px;
    text-align:center;
}

nav a {
    font-size:12px;
    color:#b9b9b9;
    text-decoration:none;
    display:inline-block;
    padding:12px 6px;
    margin:5px;
    letter-spacing:2px;
    transition: color 300ms ease;
}

nav a:hover {
    color:#303030;
}

nav .active {
    color:#303030; /*Need to find a way of having "home" not be illuminated when on a page that isnt "home" or "about". Thinking maybe I need a seperate style sheet for individul pages?*/
}

section {
    width:100%;
	margin: auto;
	padding-bottom: 40px;
}

section img {
    display:block;
    max-width:600px;
    padding:0 20px;
    margin:auto;
}

section h1 {
    font-size: 20px;
    font-weight: 400;
    text-align: center;
    text-transform: uppercase;
    margin-top:40px;
    margin-bottom:10px;
}

section p {
    max-width:600px;
    margin:auto;
    font-size:14px;
    line-height:22px;
    text-align:justify;
    padding-left:20px;
    padding-right:20px;
}

table {
	width: 600px;
	max-width: 600px;
    padding: 4px;
	font-size: 14px;
	line-height: 14px;
	margin: auto;
	border-collapse: collapse;
	padding-bottom:40px;
    padding-left:20px;
    padding-right:20px;
	box-sizing: border-box;
}

th, td {
	width: auto;
	max-width: 600px;
	table-layout: fixed;
	border: 1px solid #dddddd;
	padding: 6px;
	font-size: 14px;
	line-height: 14px;
}

.read-more {
    font-size:12px;
    color:#303030;
    text-decoration:none;
    display:inline-block;
    letter-spacing:2px;
    transition:color 300ms ease;
    text-align:center;
    width:100%;
	padding-top: 20px;
	padding-bottom: 40px;
}

.read-more:hover {
    color:#b9b9b9;
}

footer {
    width:100%;
    border-top: 1px solid #AAA;
    background-color:rgba(255,255,255,0);
    padding:40px 0;
}

footer a {
    width:120px;
    text-align:center;
    display: block;
    text-decoration:none;
    color:#303030;
    padding:10px;
    background-color:white;
    margin:auto;
	font-size: 12px;
	border: none;
	transition:color 300ms ease;
}

footer a:hover {
    background-color:#FFFFFF;
	color: #b9b9b9;
}

@media screen and (max-width: 600px) {
    section img {
        max-width: 80%; /* Change to your desired percentage */
    }

    table {
        width:100%;
    }
}